<html>
  <head>
    <title>Crime &amp; Poverty API</title>
  </head>
  <body>
    <h1>Search Results</h1>
    <form enctype="application/x-www-form-urlencoded" action="/delete/search" method="post">
      <!--<input type="text" name="table" placeholder="Table"/>-->
      <input type="radio" name="rdoTable" value="crime"/>Crime
      <br/>
      <input type="radio" name="rdoTable" value="poverty"/>Poverty
      <br/>
      <br/>
      <input type="text" name="txtId" placeholder="Search"/>
      <br/>
      <input type="submit"/>
    </form>

    <h2>Search Results</h2>
    <p><%= searchRes %></p>
  </body>
</html>
