<html>
  <head>
    <title>Crime &amp; Poverty API</title>
  </head>
  <body>
    <h1>Crime and Poverty API Homepage</h1>
    <a href="./delete">Delete a Record</a><br/>
    <a href="./post">Add a Record</a><br/>
    <a href="./update">Update a Record</a><br/>
  </body>
</html>
