<html>
  <head>
    <title>Crime &amp; Poverty API</title>
  </head>
  <body>
    <form>
      <input type="text" name="txtSearch" placeholder="Search...">
      <input type="submit" name=btnSearch></input>
    </form>
  </body>
</html>
