<html>
  <head>
    <title>Crime &amp; Poverty API</title>
  </head>
  <body>
    <h1>Update Record</h1>
    <a href="./index">Back to Home</a><br/>
    <table style="width:50%">
      <tr>
        <td>
          <form name="crimeForm" action="/update/confirm" method="post">
            ID <input type="text" name="cid"/><br/>
            Crime <input type="text" name="crimeType"/><br/>
            2004 <input type="text" name="cy2004"/><br/>
            2005 <input type="text" name="cy2005"/><br/>
            2006 <input type="text" name="cy2006"/><br/>
            2007 <input type="text" name="cy2007"/><br/>
            2008 <input type="text" name="cy2008"/><br/>
            2009 <input type="text" name="cy2009"/><br/>
            2010 <input type="text" name="cy2010"/><br/>
            2011 <input type="text" name="cy2011"/><br/>
            2012 <input type="text" name="cy2012"/><br/>
            2013 <input type="text" name="cy2013"/><br/>
            <input type="submit" name="btnFormSub" value="Update Crime Entry"/>
          </form>
        </td>
        <td>
          <form name="povertyForm" action="/update/confirm" method="post">
            ID <input type="text" name="pid"/><br/>
            Education <input type="text" name="education"/><br/>
            Category <input type="text" name="category"/><br/>
            2004 <input type="text" name="py2004"/><br/>
            2005 <input type="text" name="py2005"/><br/>
            2006 <input type="text" name="py2006"/><br/>
            2007 <input type="text" name="py2007"/><br/>
            2008 <input type="text" name="py2008"/><br/>
            2009 <input type="text" name="py2009"/><br/>
            2010 <input type="text" name="py2010"/><br/>
            2011 <input type="text" name="py2011"/><br/>
            2012 <input type="text" name="py2012"/><br/>
            2013 <input type="text" name="py2013"/><br/>
            <input type="submit" name="btnFormSub" value="Update Poverty Entry"/>
          </form>
        </td>
      </tr>
    </table>
  </body>
</html>
